*{
    margin: 0;
    font-family: Arial;
    box-sizing: border-box;
    color: white;
}

.navbar{
    line-height: 1em;
    display: flex;
    flex-direction: column;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.li{
    display: list-item;
}


/*upperbelt*/
.navbelt{
    height: 60px;
    background-color: black;
    color:white;
    display: flex;
    align-items: center;
    line-height: 1em;
    justify-content: space-evenly;
}


/*b1*/
.navlogo{
    height: 50px;
    width: 115px;
    display: inline-block;
    justify-content: center;
    padding: 1px 8px 0 6px;
    margin: 1px;
}

.logo{
    background-image: url("img/amazonlogo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 150px;
    justify-content: center;
    align-items: center;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 2px solid white;
}

/*b2*/
.navaddress{
    height: 50px;
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text{
    display: flex;   
}

.t1{
   
    font-size: 0.85rem;
    color: #cccccc;
}

.t2{
 
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
}

.pinicon{
    margin-left: 20px;
}


/*b3*/
.navsearch{
    display:flex;
    height: 40px;
    width: 950px;
    display: flex;
    background-color: #febd69;
    border-radius: 4px;
}

.navsearch:hover{
    border: 2px solid #febd69;
}

.dropdown{
    color: black;
    background-color: #f3f3f3;;
    width: 50px;
    border: none;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.search{
    border: border-box;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1rem;
    border: none;
}

.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: auto;
    font-size: 1.2rem;
}


/*b4*/
.navlang{
    width: 60px;
}


/*b5*/
.signin{
    margin: 0 1px;
    margin-top: 9px;
    padding: 0 4px 8px 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 45px;
    width: 140px;
    border: border-box;
}

.navline1{
    color: #d6d6d6;
    font-size: 14px;
}

.navline2{
    font-size: 15px;
    font-weight:bold;
}


/*b6*/
.returns{
    margin: 0 1px;
    margin-top: 9px;
    padding: 0 4px 8px 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 45px;
    width: 80px;
}


/*b7*/
.cart{
    display: flex;
    height: 50px;
    width: 85px;
}

.nav-cart-count-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-cart-text-container{
    display: flex;
    flex-direction: column-reverse;
    font-weight: bold;
}

.cart i{
    font-size: 30px;
}


/*lowerbelt*/
.navmain{
    display: flex;
    height: 39px;
    background-color: #232f3e;
    align-items: center;
    /*justify-content: space-evenly;*/
}
 

/*left*/
/*b1*/
.allmenu{
    display: flex;
    width: 50px;
    padding: 8px 9px 8px 9px;
}

.menutext{
    font-weight: 700;
    font-size: 14px;
    padding-left: 5px;
}

/*fill*/
.navfill{
    display: contents;
    
}

.navcontainer{
    width: 70%;
    height: 100%;
}


/*boxes*/
.nav-ul{
    list-style-type: none;
    display: flex;
}

.nav-ul, ul{
    display: flex;
    margin: 0 0 0 18px;
    color: var(--__dChNmAmGoMXsw4B, #0f1111);
    
}

.navdiv{
    display: flex;
    position: relative;
    vertical-align: middle;

}

.navshop{
    display: flex;
    height: 39px;
}

.nav-a{
    display: flex;
    text-decoration:none;
    text-align: center;
    align-items: center;
    padding: 8px 5px;
    height: 38.5px;
    margin: 0 15px 0 0;
}

/*right*/
.right{
    width: 30px;
}


/*hero section*/
.hero-section{
    display: flex;
    justify-content: center;
    align-items: flex-end;

    background-color: whitesmoke;
    background-image: linear-gradient(
            to bottom,
            rgba(255,255,255,0) 60%,
            rgba(255,255,255,1) 100%
        ),
        url("img/heroimg.jpg");
    
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 1890px;

}

.heromsg{
    background-color: white;
    height: 40px;
    width: 100%;
    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
    
}

.heromsg p{
    color: black;
    
}

.heromsg a{
    color: rgba(5, 185, 209, 0.993);
    text-decoration: none;
}


/*shop-section*/
.shop-section{
    background-color: whitesmoke;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 0;
    font-size: 13px !important;
    line-height: 19px !important;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/*box1*/
.desktop-grid-1{
    padding: 20px 0 15px 0;
    background-color: white;
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 10px;
    height: 420px;
    width: 320px;
    max-width: 400px;
}

.ss-g1{
    background-color: whitesmoke;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 0;
    font-size: 13px !important;
    line-height: 19px !important;
    width: 100%;
    display:grid;
    grid-template-columns:repeat(4,320px);
    gap:20px;

    justify-content: space-evenly;
}

.shopheader{
    padding: 0 20px;
    margin-bottom: 10px;
    height: 50px;
}

.ss-header-text{
    color: black;
    height: auto;
    width: 270px;
    font-size: 21px !important;
    line-height: 27.3px !important;
    font-weight: bold;
    white-space:normal;
    word-wrap:break-word;
    max-height: 54.6px;
}

.a-section{
    flex-grow: 1;
    height: 275px;
    margin-bottom: 44px;
    margin: 0 20px;
}

.asectionimg{
    width: 100%;
    height: 300px;  
}

.asectionimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;  
    display: block;
}

.outerasec{
    height: 350px;
    display: flex;
    flex-direction: column;
}

.shopfooter{
    padding: 0 0 20px 20px;
}

.ss-footer-text{
    color: blue;
    text-decoration: none;
    padding: 0 0 20px 0;
}

/*box2
.asecpart1-text{
    color: black;
}

.ssbinner{
    display: flex;
    flex-direction: column;
}

.ssb2-part1{
    display: flex;
}

.ssb2-part2{
    display: flex;
}

.asecpart2-text{
    color: black;
}

.ssb{
    display: flex;
    justify-content: center;
    align-items: center;

}
    */

.image-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:12px;
    margin: 0 20px;
}

.item img{
    width:100%;
    height:8.2rem;
    object-fit:cover;
}

.item p{
    color:black;
    font-size:12px;
    margin-top:5px;
}

/*
.ssb6-lower{
    display: grid;
    grid-template-columns: max-content;
}


.ssb6-upper img{
    display: flex;
    width: 100%;
}
*/
.ssb6{
    margin:0 20px;
}

.big-item img{
    width:100%;
    height:180px;
    object-fit:cover;
}

.big-item p{
    margin-top:5px;
    font-size:12px;
    color:#000;
}

.small-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:10px;
    margin-top:12px;
}

.small-grid img{
    width:100%;
    height:80px;
    object-fit:cover;
}

.small-grid p{
    margin-top:5px;
    font-size:12px;
    color:#000;
}

